.gallery-wrapper {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 4.5rem 3rem;
    background: $bg-image;

}

.gallery {
    columns: 200px;
    break-inside: avoid;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;

    li {
        overflow: hidden;
        
        .img-thumb {
            width: 100%;
            min-height: 100px;
            display: block;
            object-fit: cover;
            margin-top: 0;
            margin-bottom: 20px;
            border: 1px solid #000;
            box-shadow: 0 5px 10px rgba(0,0,0,.5);
            // transform: scale(1);
            transition: .5s;

            &:hover {
                transform: scale(1.05);
            }
        }
      }
}